/* texto titulos */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
/* texto parrafos */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* nav */
nav {
  background-color: #0a0b3d;
}
.logoNav {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  text-shadow: 0 1px 0 #323372, 0 2px 0 #1e2063, 0 3px 0 #0a0b3d, 0 4px 0 #02031f,
    0 5px 0 #12146e, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #9eadcf;
}

main {
  flex-grow: 1;
}

.mainFondo {
  background-image: url(../img/universeBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* pagina error */
.textoPaginaError {
  color: #9eadcf;
  font-size: 2.5em;
  font-family: "Titillium Web", sans-serif;
}

/* pagina principal */
.contenedorPrincipal {
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.textoContenedorPrincipal {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: #9eadcf;
}

.textoContenedorPrincipal h1 {
  margin: 0;
  font-size: 2.5em;
  font-family: "Titillium Web", sans-serif;
}

.textoContenedorPrincipal p {
  margin: 0;
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
}

.tituloCategoria {
  font-size: 2.5em;
  font-family: "Titillium Web", sans-serif;
}

/* boton principal */
.botonPrincipal {
  padding: 15px 100px;
  margin: 10px 4px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  top: 40px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}

.botonPrincipal:hover {
  border: 1px solid #071982;
  color: #9eadcf !important;
}
.botonPrincipal::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}

.botonPrincipal::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #9eadcf;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.botonPrincipal:hover::before,
.botonPrincipal:hover::before {
  opacity: 1;
  width: 116%;
}
.botonPrincipal:hover::after,
.botonPrincipal:hover::after {
  opacity: 1;
  width: 120%;
}

.botonRegistro {
  margin-top: -5%;
}
.iBordo {
  color: #9eadcf6e;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.textoPaginaregistro {
  margin-bottom: 50px;
}
.botonSecundarioPaginaPrincipal {
  font-size: 1.2em;
  font-family: "Titillium Web", sans-serif;
  color: #9eadcf;
  transition: background-color 0.3s ease;
}

.botonSecundarioPaginaPrincipal:hover {
  color: #9eadcf;
  border: #072f8e solid 2px;
  border-radius: 42%;
}

/* detalle peliculas */
.contenidoVerMas {
  display: none;
}

.cardDetallePelicula{
  background-color: rgba(4, 10, 60, 0.8); 
}

.tituloDetallePelicula {
  color: #9eadcf;
  font-size: 2em;
  font-family: "Titillium Web", sans-serif;
}

.textoDetallePelicula {
  color: #9eadcf;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

footer{
  background: #0a0b3d;
}
.iconosRedes{
  color: #7496c1;
  font-size: 30px;
}
.logoFooter {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  font-weight: bold;
  font-size: 45px;
  color: #fff;
  text-shadow: 0 1px 0 #323372, 0 2px 0 #1e2063, 0 3px 0 #0a0b3d, 0 4px 0 #02031f,
    0 5px 0 #12146e, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

/* media queries */
/* dispositivos pequeños */
@media screen and (max-width: 575.9px) {
  .logoNav {
    font-family: "Titillium Web", sans-serif;
    font-size: small;
  }
  .botomHamburguesa {
    font-size: 0.5em;
  }
  .perfilNav {
    font-size: 1em;
  }
  .textoContenedorPrincipal {
    width: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .textoContenedorPrincipal h1 {
    font-size: 0.8em;
  }

  .textoContenedorPrincipal p {
    font-size: 0.5em;
  }

  .botonPrincipal {
    padding: 5px;
    font-size: 0.4em;
  }

  .carouselSm {
    display: none;
  }

  .categoriaSm {
    font-size: 0.7em;
  }
    /* footer */
    .logoFooter {
      font-size: 30px;
    }

}
/* dispositivos medianos */
@media screen and (min-width: 576px) and (max-width: 820px) {
  /* nav */
  .botomHamburguesa {
    font-size: 1em;
  }
  .perfilNav {
    font-size: 1.5em;
  }
  .textoContenedorPrincipal h1 {
    font-size: 3.5em;
  }

  .textoContenedorPrincipal p {
    font-size: 1em;
  }

  .botonPrincipal {
    padding: 8px;
    font-size: 0.7em;
  }

  .carouselNoneLgMd {
    display: none;
  }

 /* footer */
 .logoFooter {
  font-size: 45px;
}
}

/* dispositivos grandes */
@media screen and (min-width: 820.1px) {
  /* nav */
  .perfilNav {
    font-size: 2em;
  }
  .carouselNoneLgMd {
    display: none;
  }
}
